@inject StateContainer StateContainer
@implements IDisposable


@page "/coworking/reserveer"

@using devops_project_web_t4.Shared.Components
@using Pomelo.EntityFrameworkCore.MySql.Query.Internal
@using devops_project_web_t4.Areas.Controllers
@using devops_project_web_t4.Areas.State

<h3>Reserve a coworking seat</h3>

<HierDatepicker Id="dateSelector"></HierDatepicker><br/>
<HierPlattegrond SelectedDate="@StateContainer.SelectedDate"></HierPlattegrond>

@code
{

}