.box {
    background-color: #ff3399;
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 2px solid black;
    margin: 5px;
}

#details {
    float: right;
}



.seatavailable {
    fill: "#d5e8d4";
}