@using devops_project_web_t4.Shared.Components
@using devops_project_web_t4.Data.Repositories
@using devops_project_web_t4.Areas.Controllers
@page "/coworking/reserveer/reservationForm/{Id:int}"

<h3>Reservation for seat @Id</h3>

<HierDatepicker/>

<button @onclick="Confirm" class="primaryHierButton">Confirm</button>

<!--<HierButton Title="ConfirmDoNotUse" Type="Primary"></HierButton>-->

@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    public IReservationController Controller { get; set; }

    //Nog input halen uit datepicker etc
    public void Confirm()
    {
        Controller.ConfirmReservation(new DateTime(2021,06,03), new DateTime(2021,06,06), 1, 1);
    }
}
