@using devops_project_web_t4.Shared.Components
@using devops_project_web_t4.Data.Repositories
@using devops_project_web_t4.Areas.Controllers
@page "/coworking/reserveer/reservationForm/{Id:int}"

<h3>Reservation for seat @Id</h3>

<HierDatepicker/>

<p> Volledige dag </p>
<p>Voormiddag</p>
<p>Namiddag</p>
<p> Twee uur</p>

<button @onclick="Confirm" class="hierButton primaryHierButton">Confirm</button>

<HierButton Title="Confirm" Type="Primary" Action="/coworking/reserveer"></HierButton>

@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    public IReservationController Controller { get; set; }
    [Inject]
    private NavigationManager _navigationManager { get; set; }

    //Nog input halen uit datepicker etc
    public void Confirm()
    {
        Controller.ConfirmReservation(new DateTime(2021,06,03), new DateTime(2021,06,06), Id, 1);
        _navigationManager.NavigateTo("/coworking/reserveer");

    }
}
