@using devops_project_web_t4.Areas.Domain
@using devops_project_web_t4.Areas.Controllers
@inject AuthenticationStateProvider AuthState

<AuthorizeView>
    <Authorized>
        Welkom @_username <a href="logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=/">Log in</a>
    </NotAuthorized>
</AuthorizeView>