@using devops_project_web_t4.Areas.Domain
@using devops_project_web_t4.Areas.Controllers
@inject AuthenticationStateProvider AuthState

<AuthorizeView>
    <Authorized>
        Welkom @_username <a class="hierURL" href="logout">Log uit</a>
    </Authorized>
    <NotAuthorized>
        <a class="hierURL" href="login?redirectUri=/">Log in</a>
    </NotAuthorized>
</AuthorizeView>