<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">devops-project-web-t4</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="coworking/locatie">
                <span class="oi oi-monitor" aria-hidden="true"></span>Coworking
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="vergaderzalen/locatie">
                <span class="oi oi-monitor" aria-hidden="true"></span>Vergaderzalen
            </NavLink>
        </li>
        <!--<li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span>Reservaties
            </NavLink>
        </li>-->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stylingDemo">
                <span class="oi oi-brush" aria-hidden="true"></span>Styling demo
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
