<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">HIER</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="coworking/hier/overzicht">
                <span class="oi oi-monitor" aria-hidden="true"></span>Coworking
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="vergaderzalen/locatie">
                <span class="oi oi-monitor" aria-hidden="true"></span>Vergaderzalen
            </NavLink>
        </li>
        <AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="reservaties">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span>Reservaties
            </NavLink>
        </li>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="beheer/reservaties">
                    <span class="oi oi-spreadsheet" aria-hidden="true"></span>Beheer Reservaties
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="beheer/facturatie">
                    <span class="oi oi-graph" aria-hidden="true"></span>Facturatie
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
