@page "/coworking/hier/overzicht"
@using devops_project_web_t4.Shared.Components
@using Pomelo.EntityFrameworkCore.MySql.Query.Internal
@using devops_project_web_t4.Areas.Controllers
@using devops_project_web_t4.Areas.Domain
@using devops_project_web_t4.Data.Repositories
@using System.Collections.ObjectModel

<div class="container">
<h1 class="text-center locationSelectorElement">Onze <span class="pinkUnderline">coworking</span> in Aalst</h1>
    <div class="row">
        <p class="text-center locationSelectorElement">
            HIER. zit je samen met andere ondernemers aan één grote tafel. Een professionele stopplaats tussen twee bezoeken door.
Vergaderen met klanten, leveranciers of elk ander professioneel contact. Onze Cowork voorziet de kans te netwerken met andere ondernemers.
Koffie, water en thee zijn steeds inbegrepen.
        </p>
    </div>
</div>

<h3>Overzicht coworking HIER</h3>
<div id="rooms" class="shadow-lg roomPanel">
    @foreach (var item in _coworkRooms)
    {
        <div class="shadow coworkroom" onclick="showDetail(@item.Id)">
        <p>@item.Name</p>
        <div><img src="Images/coworkrooms/@item.ImageName" alt="@item.Name" width="200" height="200"/></div> <br/>
    </div>
}
</div>
<br/>
<div id="roomDetails" class="roomPanel">
    <div id="bureelgelijkvloers1">
        <HierBureelGelijkvloers1></HierBureelGelijkvloers1>
    </div>
    <div id="bureelgelijkvloers2">
        <HierBureelGelijkvloers2></HierBureelGelijkvloers2>
    </div>
    <div id="coworkgelijkvloers1">
        <HierCoworkingGelijkvloers1></HierCoworkingGelijkvloers1>
    </div>
</div>