@page "/coworking/overzicht/2"

@implements IDisposable
@inject StateContainer StateContainer

@using devops_project_web_t4.Shared.Components
@using System.Reflection.Metadata
@using System.Data
@using devops_project_web_t4.Areas.State
@using devops_project_web_t4.Pages.CoworkRoom

@using Microsoft.AspNetCore.Http.Extensions

<h3>Bureel 2 Gelijkvloers</h3>

<HierDatepicker Id="dateSelector"></HierDatepicker>
<HierBureelGelijkvloers2svg SelectedDate="@StateContainer.SelectedDate"></HierBureelGelijkvloers2svg>