@page "/reservaties"
@attribute [Authorize]
@using devops_project_web_t4.Shared.Components
@using devops_project_web_t4.Areas.Controllers 
@inject AuthenticationStateProvider AuthState


<h1 class="text-center locationSelectorElement">Uw <span class="pinkUnderline">reservaties</span></h1>

<h2>Coworking</h2>
<HierTable Headers="@CoworkingTableHeaders" TableData="CoworkingGetTableData()"></HierTable>

<h2>Meetingrooms</h2>
<HierTable Headers="@MeetingroomsTableHeaders" TableData="MeetingroomsGetTableData()"></HierTable>

<AuthorizeView Roles="Admin">
	<a href="../beheer/reservaties">Beheer alle reservaties</a>
</AuthorizeView>
